/* Space out content a bit */
body {
  background: linear-gradient(#265379, #BC8A31);
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.ficha-tecnica,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid rgba(255,255,255,0.25);
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  color: #FFFFFF;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #e0e0e0;
  border-top: 1px solid rgba(255,255,255,0.25);
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main ficha-tecnica message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: rgba(255,255,255,0.5);
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting ficha-tecnica content */
.ficha-tecnica {
  margin: 40px 0;
}

.ficha-tecnica p + h4 {
  margin-top: 28px;
}

.ficha-tecnica a {
  color: #000000;
}

/* Tateti */
.turno{
  text-transform: capitalize;
}

table.tateti{
  border: none;
}

table.tateti tr td{
  cursor: pointer;
  border-color: #333;
  font-size: 2em;
}

table.tateti tr td[data-jugador=x],
table.tateti tr td[data-jugador=o]{
  cursor: not-allowed;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

table.tateti tr td[data-jugador=x]{
  background: #265379;
}

table.tateti tr td[data-jugador=o]{
  background: #BC8A31;
}

table.tateti tr td:first-child{
  border-left: none;
}

table.tateti tr td:last-child{
  border-right: none;
}

table.tateti tr:first-child td{
  border-top: none;
}

table.tateti tr:last-child td{
  border-bottom: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .ficha-tecnica,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
